html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/homeBackground.png");
  background-size: 100%;
  background-size: cover;
  background-repeat: repeat;
  color: #fff;
}

img {
  max-width: 30rem;
}
button {
  font-family: "Trade Winds", cursive;
  width: 6rem;
  height: 2.5rem;
  border: none;
  background: #f2f7f6;
  border-radius: 0.7rem;
  transition: ease-out 0.3s;
  outline: none;
}

.input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}

input {
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 0.4rem 0.4rem 0.4rem 1.6rem;
  height: 2.5rem;
  border-radius: 20rem;
  outline: none;
  transition: 1s;
}
