html,
body,
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");

body {
  font-family: "Trade Winds", cursive;
  background: "../assets/runeterra.png";
  color: white;
  margin: 0;
  padding: 0;
}
img {
  max-width: 15rem;
}

.container {
  max-width: 100%;
  margin-top: 0rem;
  background-color: black;
  color: #ffff;
  text-align: right;
}

nav {
  display: flex;
  align-items: center;
}

nav h1 {
  margin-right: auto;
}

nav a,
nav button,
nav span {
  margin-left: 2rem;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav span {
  color: white;
}

button {
  background: red;
  border: 0;
  padding: 1rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

nav a.router-link-exact-active {
  background: red;
  padding: 1rem 1rem;
  border-radius: 2rem;
}
